<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="teamqitalach.pillapp" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >
        <activity
            android:name=".TodayActivity"
            android:label="@string/title_activity_today" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DisplayMedicineActivity"
            android:label="@string/title_activity_display_medicine"
            android:parentActivityName=".TodayActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TodayActivity" />
        </activity>
        <activity
            android:name=".HistoryActivity"
            android:label="@string/title_activity_history" >
        </activity>
        <activity
            android:name=".TomorrowActivity"
            android:label="@string/title_activity_tomorrow" >
        </activity>
        <activity
            android:name=".NotificationReceiverActivity"
            android:label="@string/title_activity_notification_receiver" >
        </activity>
    </application>

</manifest>
